*~
cscope.files
cscope.out
tags
Makefile
config.h
config.log
config.status
doc/Makefile
extras/Makefile
extras/linux/Makefile
extras/tables/Makefile
extras/termcap/Makefile
extras/terminfo/Makefile
lib/.deps/
lib/Makefile
lib/libport.a
man/Makefile
minicom.spec
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/Makefile
src/ascii-xfr
src/ascii-xfr.o
src/common.o
src/config.o
src/dial.o
src/file.o
src/getsdir.o
src/help.o
src/ipc.o
src/main.o
src/minicom
src/minicom.o
src/runscript
src/rwconf.o
src/script.o
src/sysdep1.o
src/sysdep1_s.o
src/sysdep2.o
src/updown.o
src/util.o
src/vt100.o
src/wildmat.o
src/windiv.o
src/window.o
src/wkeys.o
stamp-h1
